.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  justify-content: center;
  height: $header-height;
  min-width: 320px;

  background-color: $white;
  box-shadow: 0 13px 28px -10px rgba(89, 131, 163, 0.32);

  &__container {
    display: flex;
    align-items: center;
    gap: 57px;
  }

  &__logo {
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform $transition-duration;

    &:hover {
      transform: scale(1.5);
    }
  }

  &__button-container {
    display: flex;
    align-items: center;
    gap: $buttons-gap;
  }

  &__language-select {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: $primary-text-color;

    width: $select-width;
    height: calc(#{$select-width} / 2);
    padding: 10px 16px;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 60px;
    text-transform: uppercase;
    cursor: pointer;

    transition: background-color $transition-duration;

    &:hover {
      background-color: #e5e5e5;
    }
  }

  &__sign-in-button {
    font-size: 14px;
    line-height: 14px;
    width: 167px;
    height: 40px;
    z-index: 2;
  }

  &__sign-in-link {
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
  }

  &__hamburger {
    display: none;
    z-index: 2;
  }

  @media (max-width: 1120px) {
    & {
      height: fit-content;
    }

    &__logo {
      display: none;
    }

    &__nav {
      position: absolute;
      top: 80px;
      left: -200%;
      z-index: 1;

      width: 100%;
      background-color: #989898;
      transition: all 500ms;

      &--active {
        left: 0;
      }
    }

    &__button-container {
      order: -1;
      align-self: flex-end;
    }

    &__language-select {
      display: none;
    }

    &__hamburger {
      display: block;
      border: none;
      width: 24px;
      height: 24px;
      margin-left: calc(51px - #{$buttons-gap});

      &--open {
        background: url("../images/open_toggler.svg") no-repeat center;
      }

      &--close {
        background: url("../images/close_toggler.svg") no-repeat center;
      }
    }
  }

  @media (max-width: 400px) {
    &__logo {
      display: block;
      position: absolute;
      top: 28px;
      left: 20px;
    }

    &__sign-in-button {
      display: none;
    }

    &__hamburger {
      margin-left: 0;
    }
  }
}
