@import "utils";
@import "fonts";
@import "logo";
@import "button";
@import "header";
@import "nav";
@import "main.scss";
@import "introduction";
@import "get-started";
@import "comments";
@import "questions";
@import "contact-us";
@import "footer";

html {
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 500;
  color: $primary-text-color;
  scroll-behavior: smooth;
}

body {
  background-color: $white;
  margin: auto;
}
