@import "utils";
@import "fonts";
@import "typography";
@import "header";
@import "nav";
@import "main";
@import "section";

html {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-weight: 500;
  color: $primary-text-color;
}

body {
  background-color: $white;
}

.page-content {
  margin: auto;
  width: 100%;
  max-width: 1440px;
}
