@import "utils";
@import "fonts";
@import "typography";
@import "wrapper";
@import "button";
@import "header";
@import "nav";
@import "section";
@import "get-started";
@import "comments";
@import "questions";
@import "contact-us";

html {
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 500;
  color: $primary-text-color;
}

body {
  background-color: $white;
  margin: auto;
}

// .page-content {
//   margin: auto;
//   width: 100%;
//   max-width: 1440px;
// }
