.questions {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 120px 140px;

    transition: all $transition-duration;
  }

  &__subtitle {
    @include subtitle-styles;
    position: relative;
    width: 483px;
    height: fit-content;

    align-self: flex-start;
    transition: all $transition-duration;

    &::after {
      content: "";
      position: absolute;
      display: block;
      background-color: #6248ff;
      opacity: 0.1;
      width: 263px;
      height: 72px;
      bottom: -5px;
      left: 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 995px;
    padding: 32px 40px;

    border: 2px solid #6248ff;
    border-radius: 20px;
    transition: all $transition-duration;

    &:hover {
      background-color: #f2f0ff;
    }
  }

  &__question {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__question-title {
    font-size: 24px;
    line-height: 29px;
  }

  &__question-toggler {
    width: 32px;
    height: 32px;
    background: url("../images/question_open.svg") no-repeat center;
    background-size: contain;
    cursor: pointer;

    &--close {
      background: url("../images/question_close.svg") no-repeat center;
      background-size: contain;
    }
  }

  &__answer {
    display: none;
    width: 100%;
    max-width: 750px;
    padding-right: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 27px;
    color: #4f4f4f;
    transition: all $transition-duration;

    &--active {
      display: block;
    }
  }

  @media (max-width: 1310px) {
    &__wrapper {
      padding: 83px 120px 140px;
    }
  }

  @media (max-width: 1235px) {
    &__content,
    &__container {
      width: 100%;
      flex-wrap: wrap;
    }
  }

  @media (max-width: 1100px) {
    &__wrapper {
      padding: 158px 40px 120px;
      gap: 48px;
    }
  }

  @media (max-width: 750px) {
    &__wrapper {
      padding: 0 20px 80px;
    }
  }

  @media (max-width: 510px) {
    &__wrapper {
      gap: 32px;
    }

    &__subtitle {
      width: 280px;
      font-size: 40px;
      line-height: 44px;

      &::after {
        width: 195px;
        height: 50px;
      }
    }

    &__content {
      padding: 24px 16px;
    }

    &__question-title {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
