@mixin subtitle-styles {
  font-weight: normal;
  font-size: 56px;
  line-height: 66px;
}

@mixin input-styles {
  width: 100%;
  height: 40px;
  padding: 7px 16px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #4f4f4f;
  outline: none;

  &::placeholder {
    color: #828282;
  }

  &:focus {
    border: 1px solid #828282;
  }
}
