@mixin font-styles($font, $weight, $size, $height) {
  font-family: $font;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin button-size($size) {
  width: $size;
  height: $size;
}
