$white: #fff;
$header-height: 80px;
$primary-text-color: #333;
$select-width: 80px;
$transition-duration: 300ms;
$buttons-gap: 24px;
$default-button-color: #6248ff;
$hover-button-color: #7181fc;
$active-button-color: #354bf4;
